apiVersion: v1
kind: Service
metadata:
  name: {{ include "evolution-todo.fullname" . }}-backend
  labels:
    {{- include "evolution-todo.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.backend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/component: backend
